<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autorization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Autorization.Properties.Settings>
            <setting name="isAutoEnter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deafLog" serializeAs="String">
                <value />
            </setting>
            <setting name="deafPass" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoTop" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="AutoBottom" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="AutoAngle" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SecretEnter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnterBase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnterTxt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioNote" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="currLog" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="currPass" serializeAs="String">
                <value>null</value>
            </setting>
        </Autorization.Properties.Settings>
    </userSettings>
</configuration>